#page2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#top{
    ackground-color: yellow; /*For debugging purposes*/
    display: flex;
    flex-direction: column;
    gap: 2.5em;

    max-width: 80%;
}
#level2{
    ackground-color: red;   /*For debugging purposes*/
    display:flex;
    flex-direction: row;
    gap: 55px;
}
#page2_para{
    max-width: 60%;
}
#photo{
    >img{
        border: 3px solid black;
        width: 230px;
        filter: grayscale(100%);
        transition: all 0.5s ease;
    }
    >img:hover{
        filter: grayscale(0%);
        box-shadow: 15px 15px 0 black;
    }
}





