@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,500;1,300&family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,700;1,200&family=Pacifico&display=swap');

#page3{
    background-color: rgb(231, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*CARD ELEMENTS*/
#card_pack{
    width: fit-content;
    height: fit-content;
    /*background-color: yellow;*/

    max-width: 1000px;

    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: wrap;
    
    justify-content: center;
}
#card_container{
    position: relative;
    height: 18em;
    transition: all 0.2s ease;
    display: inline-block;
}
#card_container:hover{
    box-shadow: 15px 24px 0 black;
    #header{
        top: 15px;
        left: -15px;
    }
}

#header{
    
    border:3px solid black;
    width: 320px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24B5CF;
    position: absolute;
    

    font-family: 'IBM Plex mono', monospace;
    font-size: 1.5em;
    letter-spacing: -1.5px;
}

.card_base{
    background-color: beige;
    width: 320px;
    height: 18em;

    border: 3px solid black;

    display: flex;
    justify-content: center;
    align-items: end;
}


.skill_container{
    /*background-color: yellow;*/

    margin-bottom: 30px;

    width: fit-content;
    max-width: 280px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    >img{
        width: 60px;
    }
    
}
