@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap');
#page1{
    background-color: #0086E7;
}
#content_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}
#content{
    width: fit-content;
    height: fit-content;

    /*margin-left: 15%;
    margin-top: 20em;*/

    line-height: 1;

}
#hi{
    font-family: 'IBM Plex mono', monospace;
    font-weight:bold;
    font-size: 1.5rem;
    letter-spacing: -0.1rem;
    color: #9DCDE0;
}
#name{
    font-family: 'IBM Plex sans', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: -0.2rem;
    margin-left: -3px;
    color: beige;
}
#domains{
    font-family: 'IBM Plex sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -0.1rem;
    color: #9DCDE0;
}
#para{
    font-size: 1rem;
    font-family: 'IBM Plex mono';
    letter-spacing: -0.02rem;
    font-weight: 500;
    color:#9DCDE0;
    line-height: 1.5;
}
#shine{
    color: beige;
}

/*Get in Touch*/
.pagebutton{
    width: fit-content;

    background-color: rgb(160, 224, 41);
    border: 3px solid;

    font-family: 'IBM Plex Mono';
    font-size: 1em;
    font-family: IBM Plex mono, monospace;
    font-weight: 500;
    
    word-spacing: -4px;
    letter-spacing: -0.5px;
   
    margin-top: 30px;
    padding: 15px;
    transition: all 0.2s ease;

}

.pagebutton:hover{
    background-color: rgb(160, 224, 41);
    color: rgb(0, 0, 0);
    border-color: black;

    box-shadow: 10px 10px 0 black;
  }







