@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,500;1,300&family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,700;1,200&family=Pacifico&display=swap');

 body{
    margin: 0;
    max-width: 100vw;
    background-color: #1d1e22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.pages{
    width: 100vw;
    height: 100svh;
    max-width: 1080px;

    border-bottom: 3px solid black;
}

#page2{
    background-color: beige;
}
#page3{
    background-color: red;
}