/* Property 1=Default */

position: absolute;
width: 110px;
height: 63px;
left: 1017px;
top: 20px;



/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border-bottom: 5px solid #FF6B00;


/* About */

position: absolute;
left: 14.14%;
right: 19.01%;
top: 28.53%;
bottom: 14.25%;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 29px;
text-align: center;

color: #FFFFFF;

